<h2 id='title'>Welcome to Ember.js</h2>

{{#masonry-grid}}

  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: red;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: red;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>

  <div class="item" style="width: 200px; background-color: red;"><img src="https://placekitten.com/g/200/300"></div>

  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: red;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: red;"><img src="https://placekitten.com/g/200/300"></div>
  <div class="item" style="width: 200px; background-color: blue;"><img src="https://placekitten.com/g/200/300"></div>

{{/masonry-grid}}
