<button {{action 'switchObjects'}}>Switch Models</button>
<button {{action 'appendItem' currentObject}}>Append Item</button>
<button {{action 'prependItem' currentObject}}>Prepend Item</button>

{{#masonry-grid items=currentObject
  onLayout=(action 'onLayout')
  onLayoutComplete=(action 'onLayoutComplete')
  onItemClick=(action 'onItemClick')
as |item|}}
  <img src="{{item.imgsrc}}"><br>
{{/masonry-grid}}
